body{
    background-color: blueviolet;
    margin:10px;
    padding:20px;
    text-align: center;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right,blueviolet,red);
    
}
h1{
    color:red;
}



img {
    width: 30%;
    max-width: 150px;
    height: 150px;
    margin-top: 5px;
    border-radius: 50%;
    
    
}
ul {
    list-style: none;
   padding: 0;
}

li{
    background-color: lightblue;
    margin: 5PX;
    padding: 10PX;
    border-radius: 50%;
    
}
a{
    text-decoration: none;
    color: blue;
    font: bold;
}
#btn1{
    padding: 10px 20px;
    margin-top: 15px;
    font-size: 16px;
    font-family:  Helvetica;
    border-radius: 50%;
    background-color: blue;
    color: white;
    border-radius: 16px;
    cursor: pointer;
    transition: 0.3s;
}
#btn2{
    font-size: 16px;
    width:auto;
    margin-top: 20px;
    background-color: blue;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px 20px;
    font-family:  Helvetica;
}
#btn2:hover{
background-color: black;
transform: scale(1.05);
}

#btn1:hover{
    background-color: black;
    transform: scale(1.05);
}
a:hover{
    color: red;
}
.skills{
 background-color: black;
 color: aliceblue;
 display: flex;
 text-align: center;
 flex-wrap: wrap;
 gap: 10px;
 justify-self: center;

}
.skill{
    background-color: blue;
    border-radius: 8px;
    padding: 10px 15px;}
.skill:hover{
    background-color: black;
    transform: scale(1.05);
    transition: 0.3s;
    transform: translateY(-5px);
    
}
.container{
    background-color: white;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
