body{
    background-color: blueviolet;
    margin:10px;
    padding:20px;
    text-align: center;
    display: flex;
    justify-content: center;
    
}
h1{
    color:white;
}



img {
    width: 150px;
    height: 150px;
    margin-top: 10px;
    border-radius: 50%;
    
    
}
ul {
    list-style: none;
   padding: 0;
}

li{
    background-color: lightblue;
    margin: 5PX;
    padding: 10PX;
    border-radius: 50%;
    
}
a{
    text-decoration: none;
    color: blue;
    font: bold;
}
button{
    padding: 10px 20px;
    margin-top: 15px;
    font-size: 16px;
    font-family:  Helvetica;
    border-radius: 50%;
    background-color: blue;
    color: white;
    border-radius: 16px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    background-color: black;
    transform: scale(1.05);
}
a:hover{
    color: red;
}
