body{
    background-color: blueviolet;
    margin:10px;
    padding:20px;
    text-align: center;
}
h1{
    color:white;
}



img {
    width: 150px;
    height: 150px;
    margin-top: 10px;
    border-radius: 50%;
    
    
}
ul {
    list-style: none;
   padding: 0;
}

li{
    background-color: lightblue;
    margin: 5PX;
    padding: 10PX;
    border-radius: 50%;
    
}
a{
    text-decoration: none;
    color: blue;
    font: bold;
}
button{
    padding: 10px 20px;
    margin-top: 15px;
    font-size: 16px;
}
